torch
torchaudio
numpy
librosa
scipy
tensorboard
wandb
hydra-core
omegaconf
matplotlib
tqdm
soundfile
pyyaml
pysoundfile
# Optional for end-to-end TTS
# git+https://github.com/NVIDIA/NeMo.git@main#egg=nemo_toolkit[all]